@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;600;700&family=Raleway:wght@400;500;600;700&family=Roboto&family=Staatliches&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
h1{
  font-family: 'Staatliches', cursive;
  font-weight: bold;
  letter-spacing: 3px;
}
h2{
  font-family: 'Oswald', sans-serif;
  font-weight: bold;
}
h3{
  font-family: 'Oswald', sans-serif;
}
p{
  font-family: 'Roboto', sans-serif;
}
a{
  font-family: 'Raleway', sans-serif;
}